<footer>
  <div class="footer-container">
    <div class="footer-brand">
      <h2>VERUM</h2>
      <p>ESTILO REAL</p>
    </div>

    <div class="footer-contact">
      <h3>Contacto</h3>
      <!--<p>Email: info&#64;crcfashion.com</p>-->
      <p>Tel: +57 300 123 4567</p>
    </div>

    <div class="footer-social">
      <h3>Síguenos</h3>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">TikTok</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2025 VERUM ESTILO. Todos los derechos reservados.
  </div>
</footer>

